:root{
    --youtube-red: #ff0000;
    --primary-grey: #121212;
    --secondary-grey: #181818;
    --tertiary-grey: #202020;
    --quarternary-grey: #313131;
    --font-grey-light: rgb(145, 145, 145);
    --font-grey-dark: #555;
    --white: #ffffff;
    --black: #000;
}